@model CRUD_Front_Controller.Models.ViewModel.SignUpUserViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-6 offset-3 border border-primary rounded p-lg-5 pr-5 pb-5">
            <div class="text-center">
                <a class="text-light btn btn-primary font-weight-bold" asp-action="SignUp" asp-controller="Account">SignUp</a>
                <a class="text-light btn btn-primary font-weight-bold" asp-action="Login" asp-controller="Account">Login</a>
            </div>
            <div class="text-center">
                <h1 class="text-info">User Registration</h1>
            </div>
            <h3 class="text-danger text-center">@TempData["errorMessage"]</h3>
            <form method="post" asp-action="SignUp">
                <div class="form-group">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter your name" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input type="text" asp-for="Email" placeholder="Enter your email" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile"></label>
                    <input type="text" asp-for="Mobile" placeholder="Enter your Mobile" class="form-control" autocomplete="off" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" placeholder="Enter your Password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" asp-for="ConfirmPassword" placeholder="Enter your Password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="IsActive"></label>
                    <input type="checkbox" checked="checked" asp-for="IsActive"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success btn-lg mb-1 float-end mt-3" value="Register" />
                </div>
            </form>
        </div>
    </div>
</div>

